/* ------------------------------------------------------------------------------
    S L I D E S H O W - E N H A N C E M E N T S
--------------------------------------------------------------------------------- */

.slideshow {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

body, .container {
	margin: 0px;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.container {
	padding: 0px;
}

.slick-slider {
	margin-bottom: 0px;
}

.slick-list, .slick-track, .slick-slide {
	height: 100%;
}

.slick-next:before, .slick-prev:before {
	color: #ffffff;
}

.slick-next {
	right: 0px;
}

.slick-prev {
	left: 0px;
}


.slick-active .inner-bg {
  position: relative; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.slick-active .inner-bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
